{% extends "base.html" %}
{% block content %}

<div class="container mx-auto mt-4">
    {% if message %}

    <div class="flex p-4 mb-4 text-sm text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800" role="alert">
        <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Info</span>
        <div>
          <span class="font-medium">{{ message }}</span> 
        </div>
    </div>

    {% else %}
    <section>
        {% if kunjungan_mp %}
        <h4 class="pb-4 text-2xl font-bold dark:text-white">
            Menunggu pembayaran
            <span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
                Menunggu pembayaran
            </span>
        </h4>

        <div class="grid sm:grid-cols-1 md:grid-cols-4 gap-4">

            {% for kunjungan in kunjungan_mp %}
            <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="py-1 flex flex-wrap items-center justify-between mx-auto">
                    {{ kunjungan.tanggal_terapi }} {{ kunjungan.slot_waktu }}  WIB
                </div>
        
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        {{ kunjungan.pasien.name }}
                    </h5>
                </a>

                <div class="justify-between mb-3 font-normal text-gray-700 dark:text-gray-400">
                    <i class="fa-fw fa-solid fa-user"></i> {{ kunjungan.pasien.tipe }}
                </div>

                <div class="py-1">
                    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                        Lihat detail
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
        {% endif %}
    </section>



    <section class="mt-10">
        {% if kunjungan_mk %}
        <h4 class="pb-4 text-2xl font-bold dark:text-white">
            Menunggu konfirmasi
            <span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
                Menunggu konfirmasi
            </span>
        </h4>

        <div class="grid sm:grid-cols-1 md:grid-cols-4 gap-4">

            {% for kunjungan in kunjungan_mk %}
            <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="py-1 flex flex-wrap items-center justify-between mx-auto">
                    {{ kunjungan.tanggal_terapi }} {{ kunjungan.slot_waktu }}  WIB
                </div>
        
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        {{ kunjungan.pasien.name }}
                    </h5>
                </a>

                <div class="justify-between mb-3 font-normal text-gray-700 dark:text-gray-400">
                    <i class="fa-fw fa-solid fa-user"></i> {{ kunjungan.pasien.tipe }}
                </div>

                <div class="py-1">
                    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                        Lihat detail
                    </a>
                </div>


            </div>
            {% endfor %}

        </div>
        {% endif %}
    </section>
    {% endif %}
</div>

{% endblock content %}