{% extends "base.html" %}
{% block content %}

<div class="container mx-auto mt-4" >

    <section >
        <div style="margin-top:8%;" class="container mx-auto mt-4">
            <p class="text-center font-bold text-5xl text-gray-900 dark:text-white">Level Up Your Body, Mind, & Soul</p>
        
            <br>
        
            <p class="text-center text-2xl text-gray-900 dark:text-white">Memberikan pelayanan 
                <b> <span class="underline decoration-green-500">Fisioterapi</span>, 
                    <span class="underline decoration-red-500">Terapi Okupasi</span>, dan 
                    <span class="underline decoration-blue-500">Terapi Wicara</span></b> </p>
        
            <br><br>
                <div class="flex flex-col items-center justify-center">
                    <div class="py-1">
                
                            <a href="https://api.whatsapp.com/send?phone=6281210110430" target="_blank" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                <i class="fa-fw fa-brands fa-whatsapp"></i> Hubungi Kami
                            </a>  
                            <a href="" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                Daftar Terapi <i class="fa-fw fa-solid fa-arrow-right"></i>
                            </a>
    
                    </div>
                </div>
        </div>
    </section>

</div>

{% endblock content %}